
run_gaussian.py
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/dev_grad.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/dev_newton.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/dev_oracle.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/dev_plug.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/dev_val.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/err_grad.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/err_newton.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/err_oracle.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/err_plug.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/err_val.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/nDelta.txt
data/mixture/T-100-n-64/r-16-kap-1-w-0.9/plot.pdf
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/dev_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/dev_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/dev_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/dev_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/dev_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/err_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/err_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/err_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/err_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/err_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/nDelta.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.01/plot.pdf
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/dev_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/dev_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/dev_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/dev_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/dev_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/err_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/err_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/err_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/err_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/err_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/nDelta.txt
data/mixture/T-100-n-64/r-16-kap-16-w-0.9/plot.pdf
data/mixture/T-100-n-64/r-16-kap-16-w-1/dev_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/dev_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/dev_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/dev_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/dev_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/err_grad.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/err_newton.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/err_oracle.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/err_plug.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/err_val.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/nDelta.txt
data/mixture/T-100-n-64/r-16-kap-16-w-1/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.3/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.6/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-1-w-0.9/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.01/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.05/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.1/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.2/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.5/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.9/plot.pdf
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/dev_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/dev_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/dev_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/dev_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/dev_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/err_grad.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/err_newton.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/err_oracle.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/err_plug.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/err_val.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/nDelta.txt
data/mixture/T-1000-n-64/r-16-kap-16-w-0.95/plot.pdf
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/dev_grad.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/dev_newton.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/dev_oracle.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/dev_plug.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/dev_val.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/err_grad.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/err_newton.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/err_oracle.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/err_plug.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/err_val.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/nDelta.txt
data/mixture/T-1000-n-64/r-32-kap-1-w-0.1/plot.pdf
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/dev_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/dev_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/dev_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/dev_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/dev_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/err_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/err_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/err_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/err_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/err_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/nDelta.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.1/plot.pdf
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/dev_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/dev_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/dev_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/dev_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/dev_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/err_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/err_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/err_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/err_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/err_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/nDelta.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.3/plot.pdf
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/dev_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/dev_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/dev_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/dev_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/dev_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/err_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/err_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/err_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/err_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/err_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/nDelta.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.5/plot.pdf
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/dev_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/dev_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/dev_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/dev_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/dev_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/err_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/err_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/err_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/err_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/err_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/nDelta.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.7/plot.pdf
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/dev_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/dev_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/dev_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/dev_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/dev_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/err_grad.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/err_newton.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/err_oracle.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/err_plug.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/err_val.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/nDelta.txt
data/mixture/T-1000-n-64/r-4-kap-1-w-0.9/plot.pdf
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/dev_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/dev_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/dev_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/dev_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/dev_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/err_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/err_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/err_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/err_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/err_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/nDelta.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.1/plot.pdf
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/dev_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/dev_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/dev_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/dev_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/dev_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/err_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/err_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/err_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/err_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/err_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/nDelta.txt
data/mixture/T-150-n-64/r-16-kap-16-w-0.5/plot.pdf
data/mixture/T-150-n-64/r-16-kap-16-w-1/dev_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/dev_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/dev_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/dev_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/dev_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/err_grad.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/err_newton.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/err_oracle.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/err_plug.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/err_val.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/nDelta.txt
data/mixture/T-150-n-64/r-16-kap-16-w-1/plot.pdf
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/dev_grad.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/dev_newton.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/dev_oracle.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/dev_plug.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/dev_val.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/err_grad.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/err_newton.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/err_oracle.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/err_plug.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/err_val.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/nDelta.txt
data/mixture/T-300-n-32/r-16-kap-1-w-0.2/plot.pdf
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/dev_grad.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/dev_newton.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/dev_oracle.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/dev_plug.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/dev_val.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/err_grad.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/err_newton.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/err_oracle.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/err_plug.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/err_val.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/nDelta.txt
data/mixture/T-300-n-32/r-32-kap-1-w-0.1/plot.pdf
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/dev_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/dev_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/dev_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/dev_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/dev_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/err_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/err_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/err_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/err_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/err_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/nDelta.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.1/plot.pdf
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/dev_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/dev_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/dev_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/dev_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/dev_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/err_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/err_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/err_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/err_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/err_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/nDelta.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.2/plot.pdf
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/dev_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/dev_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/dev_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/dev_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/dev_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/err_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/err_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/err_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/err_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/err_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/nDelta.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.4/plot.pdf
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/dev_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/dev_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/dev_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/dev_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/dev_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/err_grad.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/err_newton.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/err_oracle.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/err_plug.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/err_val.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/nDelta.txt
data/mixture/T-300-n-64/r-16-kap-1-w-0.6/plot.pdf
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/dev_grad.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/dev_newton.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/dev_oracle.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/dev_plug.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/dev_val.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/err_grad.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/err_newton.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/err_oracle.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/err_plug.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/err_val.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/nDelta.txt
data/mixture/T-400-n-64/r-16-kap-1-w-0.9/plot.pdf
